body{
    padding: 20px;
    background-color: #001f3f;
    color: #72e78d;
}
header{
    font-size: 24px;
    text-decoration: underline;
    text-align: center;
}
#container{
    display: grid;
    margin-top: 20px;
    row-gap: 15px;
    column-gap: 20px;
    grid-template: max-content/max-content max-content max-content;
}
.projectBox {
    margin-left: 50px;
    width: 400px;
    height: 250px;
    border: 2px solid #3fffb9;
    background-color: black;
    position: relative; /* Add this to contain the inner element */
    ::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }
    
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 10px;
    }
    
    ::-webkit-scrollbar-thumb {
        background: rgb(255, 255, 255);
        border-radius: 5px;
    }
}

.done{
    background-color: #3fffb9;
    color: #001f3f;
}

/* Adjusting direction for scrollbar positioning */
#notes {
    height: 100%;
    font-size: 18px;
    padding: 10px;
    overflow-y: auto;
    direction: rtl; /* Set the container to right-to-left direction */
}

#notes div {
    direction: ltr; /* Set the content back to left-to-right direction */
}

/* Title Styles */
#title {
    font-size: 24px;
    vertical-align: middle;
    width: 100%;
    height: 50px;
    padding-left: 10px; /* Adjusted padding */
    padding-top: 10px;
    padding-right: 5px;
    border-bottom: 3px solid white;
    overflow-x: auto;  /* Enable horizontal scrolling */
    overflow-y: hidden;  /* Hide vertical scrolling */
    white-space: nowrap;  /* Prevent text from wrapping */
    box-sizing: border-box; /* Include padding and border in width and height */
}



#pen {
    position: fixed;
    width: 20dvh;
    height: 15dvh;
    border-radius: 20px;
    bottom: 0;
    right: 0;
    margin: 0px 2% 2% 0px;
    text-align: center;
    background: none; /* Remove default button background */
    border: none; /* Remove default button border */
    cursor: pointer; /* Change cursor to pointer to indicate it's clickable */
    outline: none; /* Remove outline on focus */
}

.material-symbols-outlined {
    font-size: 10dvh;
    color: #3fffb9;
    background-color: transparent;
}
span.small{
    font-size: 30px;
}
#delete:hover, #tick:hover{
    background-color: white;
}
#delete{
    background-color: transparent;
    border: 2px solid white;
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
}
#pen:hover {
    background-color: rgb(0, 0, 0);
}
#tick{
    background-color: transparent;
    border: 2px solid white;
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
    margin-right: 60px;
}


  
  